.cont-about {
    padding: 3rem;
    .card{
        background-color: transparent;
        border: none;
    }

    .card-img-top {
        width: 300px;
        height: auto;
        border-radius: 50% 50% 50% 50%;
    }
    .card-text,
    .card-title {
        color: rgb(255, 255, 255);
        text-align: center;
    }
}
